body {
    background-color: #333333;
    color: whitesmoke;
}

.intro, .recipe-one {
    font-size: larger
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin: 50px;
}

h3 {
    font: large;
}